<div class="row mt-5 blur" style="display: flex; justify-content: center; align-items: center; margin-top: 10%;">
    <div class="col-md-6 mx-auto blur" style="width: auto; max-width: 400px;">
        <div class="card card-body text-center">
            <img src="/assets/Hero-Security101-2Factor.avif" alt="icon" width="20%" />
            <h1>NodeJS Authentication</h1>
            <p>Login to an existing account or register</p>
           
            <a href="/auth/login" class="styled-link-button">
                <button class="styled-button">Login</button>
            </a>
            <a href="/auth/register" class="styled-link-button">
                <button class="styled-button">Register</button>
            </a>
        </div>
    </div>
</div>
